*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  font-family: sans-serif;
  margin: 30px;
}
h1{
  text-align: center;
  margin-bottom: 25px;
}
.animation{
  height:50vh;
  width: 50%;
  background-color: gray;
  position:relative;
}
.example{
  height:25vh;
  width:25%;
  background-color: orange;
  position:absolute;
  top:15vh;
  left:35%;
  animation-name:kuch-bhi;
  animation-duration:3s;
  animation-timing-function:ease-out;
  animation-delay:0s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  text-align: center;
  padding-top:9vh;
}
@keyframes kuch-bhi{
  0%{border-radius: 0%}
  100%{border-radius: 50%; background-color: red;color:#fff}
}
