

li{
  border:1px solid black;
}
ul{
  border:1px solid red;
  }
.list{
  display:inline;
}
.none{
  display:none;
}
.inline{
  display:inline;
}
span{
  border:1px solid black;
  display:block;
  width:5%%;
  padding:1%;
}
.in-block{
  border:1px solid blue;
  display:inline-block;
}
.list{
  display:list-item;
}
