*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 18px;
  font-family: cursive;
  margin:30px;
}

.main-heading{
  text-align: center;
}
.definitions{
  font-family: monospace;
}
.baap{
  width:50%;
  height:50vh;
  background-color: royalblue;
  position: relative;
  transform: perspective(300px)  rotateY(0deg);
}
.beta{
  width:20%;
  height:25vh;
  background-color: gray;
  position:absolute;
  top:25%;
  left:35%;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.beta:hover{
  transform: rotateY(90deg);
}
